<!-- Load Shared SCSS -->
{{- $sharedSCSS := resources.Get "scss/styles.scss" -}}
{{- $sharedSCSS := $sharedSCSS | resources.ToCSS (dict "outputStyle" "compressed" "includePaths" (slice "assets")) -}}
<style type="text/css" media="all">{{ $sharedSCSS.Content | safeCSS }}</style>

<!-- Load Shared JS -->
{{- $sharedJS := resources.Get "js/index.js" -}}
{{- $sharedJS := $sharedJS | js.Build (dict "minify" "true") -}}
<script>{{- $sharedJS.Content | safeJS -}}</script>

<!-- Fonts -->
{{- $bootstrapIcons := resources.Get "bootstrap-icons/font/bootstrap-icons.scss" | resources.ToCSS -}}
<style type="text/css" media="all">{{ $bootstrapIcons.Content | safeCSS }}</style>

<!-- Mermaid -->
{{ if .Page.Store.Get "hasMermaid" }}
  <script async src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <script defer> mermaid.initialize({ startOnLoad: true, theme: "dark" }); </script>
{{ end }}
