<!-- Load Shared SCSS -->
{{- $sharedSCSS := resources.Get "scss/styles.scss" -}}
{{- $sharedSCSS := $sharedSCSS | resources.ToCSS (dict "outputStyle" "compressed" "includePaths" (slice "assets")) -}}
<style type="text/css" media="all">{{ $sharedSCSS.Content | safeCSS }}</style>

<!-- Load Shared JS -->
{{- $sharedJS := resources.Get "js/index.js" -}}
{{- $sharedJS := $sharedJS | js.Build (dict "minify" "true") -}}
<script>{{- $sharedJS.Content | safeJS -}}</script>

<!-- Mermaid -->
{{ if .Params.mermaid }}
  <script defer type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@9/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true, theme: "dark", themeVariables: {} });
  </script>
{{ end }}
