<main class="py-5 flex-grow-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-8">
        <div class="py-4">
          <div class="py-2">
            <h1 class="display-1 text-center text-uppercase fw-bold text-primary">
              {{ .Title }}
            </h1>
            {{ partial "shared/post-meta" . }}
            {{ partial "shared/post-categories" . }}
          </div>
          {{ with .Description }}
            <div class="lead text-center py-3">
              {{ . }}
            </div>
          {{ end }}
          {{ with .Content }}
            <div class="markdown-content py-2">
              {{ . }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>

  <!-- Cheatsheet Sections -->
  <div class="container">
    {{ $sections := .Pages }}
    {{ range $sections }}
      <div class="row g-4 pb-5 my-5 align-items-stretch">
        <div class="row justify-content-center">
          <div class="col-12 col-xl-8 lead text-center py-3">
            <h2 class="display-6 text-center">
              {{ .Title }}
            </h2>
          </div>
        </div>
        {{ with .Params.description }}
          <div class="row justify-content-center">
            <div class="col-12 col-xl-8 lead text-center py-3">
              {{ . }}
            </div>
          </div>
        {{ end }}
        {{ with .Content }}
          <div class="row justify-content-center">
            <div class="markdown-content col-12 col-xl-8">
              {{ . }}
            </div>
          </div>
        {{ end }}
        <div class="row g-4">
          {{ $cards := .Pages }}
          {{ range $cards }}
            <div class="col-12 col-xl-6">
              <div class="card">
                <div class="card-body">
                  <h3 class="h4 card-title">
                    {{ .Title }}
                  </h3>
                  <div class="card-text markdown-content">
                    {{ .Content }}
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</main>
